.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.left-section{
   
    /* width: 150px; */
    display: flex;
    align-items: center;
}
.hamburger-menu{
 height: 24px;
 margin-left: 24px;
 margin-right: 24px; 
 align-items: center;
  
}
.middle-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    width: 100%; /* Make the middle section take up the full width */
    max-width: 700px; /* Optional: Set a max-width to control its size */
}

.youtube-search-bar {
    display: flex;
    flex: 1; /* Make the search bar take up the available space */
    margin-right: 8px;
}

.youtube-search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    background-color: #f1f1f1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.search-button {
    background-color: #f1f1f1;
    border: none;
    padding: 8px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.voice-search {
    display: flex;
    align-items: center;
}

.voice-search-button {
    background: #f1f1f1;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
}

  
.right-section {
    display: flex;
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-left: 8px; /* Space between icons */
}

.icon-button svg {
    fill: #333; /* Icon color */
}